.custom-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, and Opera */
}

.logo {
  img {
    height: 70px;
    width: 100%;
    object-fit: contain;
  }
}

.img {
  height: 40px;
  object-fit: contain;
}
